/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-font: "Rubik", sans-serif;
  --main-color: #0f0e17;
  --heading-color: #fffffe;
  --button-color: #ff8906;
  --secondary-color: #f25f4c;
  --tertiary-color: #6246ea;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  font-family: var(--main-font);
}

/* Navbar */

.navbar {
  margin: 22px 0 0 0;
  background-color: transparent !important;
}

.navbar-brand {
  color: var(--main-color) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand img {
  width: 38px;
  height: 38px;
  margin: 0 8px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 600;
}

.nav-item {
  margin: 0 30px;
}

.nav-item a {
  color: var(--main-color) !important;
}

.user-button-group a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

.bi-person {
  font-size: 24px;
}

.bi-bag {
  font-size: 20px;
  font-weight: 800;
}

.user-button-group a:hover {
  transition: 0.4s;
  color: var(--button-color);
}

/* Media Screen untuk mengatur navbar pada tampilan handphone / mobile */
@media only screen and (max-width: 600px) {
  .navbar {
    margin: 0;
    text-align: center;
    background-color: var(--main-color) !important;
  }
  .navbar-brand {
    color: var(--heading-color) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar-collapse {
    position: relative;
    padding: 40px 0;
  }
  .navbar-brand img {
    width: 28px;
    height: 28px;
    margin: 0 8px;
  }
  .navbar-brand span {
    font-size: 18px;
    font-weight: 600;
  }
  .nav-item a {
    color: var(--heading-color) !important;
  }
  .user-button-group a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 600;
  }
}

/* Navbar End */

/* Hero */

.hero-image {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(#00000084, #00000084),
    url("../img/hero-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.hero-image h1 {
  position: absolute;
  color: var(--heading-color);
  width: 450px;
  font-size: 50px;
  right: 50px;
  line-height: 80px;
  text-align: end;
}

@media only screen and (max-width: 600px) {
  .hero-image h1 {
    display: block;
    width: 300px;
    font-size: 44px;
    text-align: unset;
    margin: 0 auto;
    line-height: 65px;
  }
}

/* Hero End */

/* New Products */

#newProducts {
  position: relative;
  margin: 80px 0;
}

.filter-button {
  color: var(--main-color) !important;
  font-weight: 600;
}

.active {
  background-color: var(--button-color) !important;
  color: var(--heading-color) !important;
  border-color: var(--button-color) !important;
}

.product-image {
  width: 100%;
  max-height: 250px;
}

#newProducts .card {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.5s ease-in-out;
}

#newProducts .card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#newProducts .card .hover-button-group {
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 20px;
  right: 60px;
}

#newProducts .card:hover .hover-button-group {
  display: block;
  opacity: 1;
  top: 20px;
  right: 10px;
}

.add-to-cart {
  font-size: 16px;
  background-color: var(--button-color);
  color: var(--heading-color);
}

.add-to-cart:hover {
  background-color: #dc7806;
  color: var(--heading-color);
}

/* New Products End */

/* Why Us */

#whyUs .card {
  position: relative;
  width: 100%;
  height: 100px;
}

#whyUs .card:hover i {
  color: var(--button-color);
  transition: all 0.5s ease-in-out;
}

.fa-truck-fast,
.fa-shop-lock,
.fa-face-smile {
  font-size: 46px;
}

/* Why Us End */
